@font-face {
    font-family: "S-CoreDream-8Heavy";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "S-CoreDream-8Heavy";
}

.flex {
    display: flex;
}

.cener {
    text-align: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

/* Container */
html,
body,
#root {
    height: 100vh;
}
#root {
    flex-direction: column;
}

/* Question */
#question {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Input Field */
#input {
    display: block;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #121212;
}

/* Keys */
#keys {
    flex-wrap: wrap;
    padding: 10px;
    max-width: 480px;
}

#keys > button {
    width: calc((100% - 20px) / 3);
    margin: 0 10px 10px 0;
    padding: 10px;
    background: rgba(69, 69, 69, 0.5);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#keys > button:nth-child(3n) {
    margin-right: 0;
}
